div
	.row
		.col-md-12(class="monitor-details-container")
			div(ng-repeat="monitor in monitors" class="view-monitors")
				slide-panel
	.row(class="view-content-container")
		.col-md-12
			.col-md-6(class="map-details-container")
				div(ng-controller="wFMapCtrl" id="map" class="map-details")
					leaflet
			.col-md-6(class="view-info-block")
				h1 {{project.project_name}}
				div {{project.project_type}}
				//h3(ng-show="fund.featured") featured
				div Started on {{project.project_start_date | date}}

				div by group: {{project.project_group}}
				div It requires {{project.project_funding_required | currency}},
				div and the contributions to date total: {{project.total_contributions | currency}}

				div About our project:
				div	{{project.project_description}}

				//div {{project.project_wildlife}}


