div(class="main-container" ng-controller="wFProjectCtrl")
	.container
		.col-md-9(class="col-9-project-container")
			h4 Projects	
			div(class="project-outline" ng-repeat="project in projects track by $index | filter:searchText | orderBy:sortOrder")
				div(class="col-{{$index % 4}}")
					h4 {{project.project_name}}	
					div
						{{project.project_description}} <br> 
						b Amount Required: 
						{{project.project_funding_required}} <br> 
						b Total to Date:
						{{project.total_contributions}} <br>
						b End Date:
						{{project.project_end_date | date}} <br>
					div progress bar
					a(class="project-thumb-project-contribution" ng-href="/projects/contribute/{{project._id}}") Contribute
	
		//- 		p
			//- 		img(ng-src="data:image/png;base64, {{project.image}}")
			//- 		b
			//- 			br 
			//- 			a(class="project-thumb-project-name" href="/projects/project-details/{{project.project_name}}") {{project.project_name}}<br>