div(class="main-container" ng-controller="wFDashboardCtrl")
	.container(ng-if="isLoggedIn")
		//- bg-splitter(orientation="horizontal" class="dashboard-pane")
		//- 	bg-pane
		.col-md-12(class="col-6-dashboard-container" ng-controller="wFProjectCtrl")

			h4 Project Dashboard for {{user.firstname}}
			h4(class="dashboard-message") {{message}}
			accordion(close-others="oneAtATime")
				accordion-group.project-headings(ng-repeat="project in projects track by $index | filter:searchText | orderBy:sortOrder")
					accordion-heading(style="display: inline;") 
								span(class="accordion-group-heading") {{project.project_name}} 
								span(class="accordion-group-heading button accordion-remove-project" ng-click="removeProject(project._id)") X
					table
						tr.project-summary
							td
								div.accordion-project-name 
									a(href="/projects/project-details/{{project.project_name}}") {{project.project_name}}
							td(colspan="4")
								div.accordion-project-summary
									span {{project.project_description}}
						tr.project-controls
							td.control-cell
								img(ng-src="data:image/png;base64, {{projectImage}}")
							td.control-cell(ng-controller="wFFileUploadCtrl" ng-hide="true")
								input(type="hidden" ng-model="fileUpload")
								input(class="button btn-default" type="file" ng-file-select="onFileSelect($files, 'project')")
							td.control-cell
								button(class="btn btn-default" ng-click="getFiles(task.filename, task)") View Project Files
							td.control-cell
								select(class="form-control" ng-model="setStatus" ng-options="status.name for status in selectStatus")
						tr.project-controls
							td.control-cell
								div(ng-show="project.project_owner" class="btn btn-default" ng-click="editProject(project._id)") Edit
							td.control-cell
								div(ng-show="project.project_owner" class="btn btn-default" ng-click="removeProject(project._id)") Delete
								
					div(ng-controller="wFTaskCtrl")
						accordion(close-others="oneAtATime")
							accordion-group(heading="View Tasks")
								table(class="table table-bordered table-hover table-condensed")
									tr(style="font-weight: bold;")
										td(style="width: 12%;") Priority
										td(style="width: 20%;") Name
										td(style="width: 36%;") Description
										td(style="width: 9%;") Owner
										td(style="width: 12%") Status
										td(style="width: 11%") Save
										//- td(style="width: 8%") Upload Task File
										td(style="width: 5%") Delete
									tr(ng-repeat="task in tasks track by $index")
										td
											{{task.taskPriority}}
										td
											span(editable-text="task.taskName") {{task.taskName}}	
										td
											span(editable-text="task.taskDescription") {{task.taskDescription}}
										td
											{{task.taskOwner}}
										td
											{{task.taskStatus}}
										td
		
											button(class="btn btn-default" ng-click="saveTask(project._id, taskPriority, taskName, taskDesc, taskOwner, taskStatus)") Save task
										td
											button(class="btn btn-default" ng-click="removeTask($index)") Delete

									tr(class="add-task")

										td
											select(class="form-control" ng-model="taskPriority", ng-options="priority.value as priority.name for priority in selectPriority")
										td
											input(class="form-control" ng-model="taskName" type="text" placeholder="Enter task name...")
										td
											input(class="form-control" ng-model="taskDesc" type="text" placeholder="Enter task description...")
										td
											select(class="form-control" ng-model="taskOwner", ng-click="findActiveMembers(project.project_name)" ng-options="owner.value as owner.name for owner in selectOwner") 
										//	{{selectOwner[0].value}}
										td
											select(class="form-control" ng-model="taskStatus", ng-options="status.value as status.name for status in selectStatus")
										//- td(ng-controller="wFFileUploadCtrl")
										//- 	input(type="hidden" ng-model="fileUpload")
										//- 	input(class="button btn-default" type="file" ng-file-select="onFileSelect($files, 'task')")
										//- ng-show="identity.currentUser.isOwner()" 
										td
		
											button(class="btn btn-default" ng-click="saveTask(project._id, taskPriority, taskName, taskDesc, taskOwner, taskStatus)") Save task
										td
											button(class="btn btn-default" ng-click="removeTask($index)") Cancel

								button(class="btn btn-default" ng-click="addTask()") Add task
			//- div(ui-view="project-pane")
			button(class="create-project-button" ng-click="createProject()" ) Create Project
	div(class="document-overlay" ng-model="documentOverlay" ng-show="documentOverlay")
		div(class="document-overlay-close-btn" ng-click="toggleDocumentOverlay()") &nbsp;X
			img(ng-src="data:image/png;base64,{{groupImage}}")