button(class="btn btn-default" ng-click="addTask()") Add task
table(class="table table-bordered table-hover table-condensed")
	tr(style="font-weight: bold;")
		td(style="width: 12%;") Priority
		td(style="width: 20%;") Name
		td(style="width: 36%;") Description
		td(style="width: 9%;") Owner
		td(style="width: 12%") Status
		td(style="width: 8%") Upload File
		td(style="width: 5%") Delete
	tr(ng-repeat="task in tasks")
		td
			select(class="form-control" ng-model="task.setPriority", ng-options="priority.value as priority.name for priority in selectPriority")
		td
			span(editable-text="task.name") {{task.name}}
		td
			span(editable-text="task.description") {{task.description}}
		td
			select(class="form-control" ng-model="task.setOwner", ng-options="owner.value as owner.name for owner in selectOwner")
		td
			select(class="form-control" ng-model="task.setStatus", ng-options="status.value as status.name for status in selectStatus")
		td
			div(class="button btn-success") Attach File
		td
			div(class="button btn-danger" ng-click="removeTask($index)") Delete