/* ANIMAL SELECTION AREA (.toolbar) */
.selection-layout {
  height: 100%;
  width: 95%;
  margin-top: 1%;
  margin-bottom: 30px;
  position: absolute;
}
.selection-layout input {
  width: 100%;
  float: right;
}
.textwrap {
  float: left;
  margin: 10px;
}
.wildlife-description {
  clear: both;
}
.selected-wildlife-container {
  border: 3px solid #d7e0e2;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  float: right;
  width: 100%;
  height: 91%;
  display: block;
  margin-top: 4%;
  overflow-x: hidden;
}
.selectedWildlife {
  clear: both;
  display: block;
  width: 100%;
}
.wildlifeCell {
  width: 25%;
}
.wildlifeBtnCell {
  width: 25%;
  float: right;
}
.monitor-info {
  float: left;
  margin-top: 40px;
}
.wildlifeCounter,
.monitor-counter {
  float: left !important;
  width: 40px !important;
}
.monitor-check {
  margin-left: 10px !important;
  margin-top: 9px;
  position: absolute;
}
.monitor-label {
  float: left;
}
.selectedWildlifeName {
  float: left;
}
.popup-row {
  margin-left: 10px;
  position: absolute;
  margin-top: 150px;
}
.video-label {
  margin-left: 20px;
}
.remove-selected-wildlilfe-btn,
.remove-selected-monitor-btn,
.closePopUp {
  clear: both;
  margin-top: 2px;
  border: 1px solid #808080;
  text-align: center;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.remove-selected-monitor-btn {
  width: 15px;
  float: right;
}
.selectedThumb {
  margin-right: 10px;
  cursor: pointer;
}
.further-info {
  width: 50%;
  float: right;
}
/* END ANIMAL SELECTION AREA */
