/* DASHBOARD */
.dashboard-pane {
  border-right: 3px solid #4e4e4e;
}
.dashboard-message {
  font-family: arial;
  font-weight: bold;
  color: #d7e0e2;
}
.col-6-dashboard-container {
  margin-top: 60px;
  width: 100%;
}
.col-6-group-container {
  border-left: 5px solid #d7e0e2;
  height: 100%;
  min-width: 100px;
}
bg-splitter {
  min-width: 300px;
}
.project-summary {
  width: 100%;
  float: left;
  display: inline-block;
}
.accordion-project-name {
  margin-right: 20px;
}
.accordion-project-summary {
  float: left;
  padding-left: 20px;
}
.panel-default > .panel-heading {
  background-color: #4e4e4e;
}
.project-controls {
  display: block;
  padding: 20px;
}
.project-headings,
display block,
height 45px,
position absolute,
width 100%,
min-width 50px,
z-index 100,
overflow hidden,
.control-cell {
  width: 20%;
  padding: 10px;
}
.create-project-table {
  width: 100%;
  display: block;
}
.create-group-table {
  border: 1px solid #808080;
  width: 750px;
}
.accordion-remove-project,
.accordion-remove-group {
  float: right;
  width: 10px !important;
}
.split-panes {
  margin-top: 0px !important;
}
.create-group-button,
.create-project-button {
  background: #4e4e4e none repeat scroll 0 0;
  bottom: 35px;
  position: fixed;
  width: 95%;
  color: #ccc;
}
/* END DASHBOARD */
/* EMAIL */
#sidebar {
  clear: left;
  float: left;
  min-height: 300px;
  width: 228px;
  position: relative;
  z-index: 1;
}
#emailListing {
  margin-top: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.emailListing {
  border-radius: 3px;
  -moz-border-radius: 3px;
  height: 120px;
  overflow: hidden;
  padding: 8px;
}
#emailListing li {
  list-style-type: none;
}
.emailListing .date {
  font-size: 0.5em;
  color: #00f;
  display: none;
}
.emailListing .subject {
  font-size: 0.8em;
}
/* END EMAIL */
/* GROUPS */
.accordion-group-heading {
  width: 25%;
  display: inline-block;
  color: #ccc;
}
.group-container {
  min-height: 60px;
  margin-top: 60px;
}
.group-list-container,
.group-form-container {
  position: absolute;
  width: 98%;
}
.create-group-form {
  margin-top: 40px;
}
.row-collaboration-elements {
  height: 25%;
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 200px;
  z-index: 200;
}
.chat-files-panel {
  border: 1px solid #d7e0e2;
}
.chat-panel {
  padding: 0px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 300px;
  position: absolute;
  margin-left: 61%;
}
.overflowable {
  height: 190px;
  overflow-y: auto;
  border: 1px solid #d7e0e2;
}
.overflowable p {
  margin: 0;
}
.col {
  float: left;
}
.clr {
  clear: both;
}
.message-form {
  margin-left: 15px;
}
.send-message {
  margin-left: 10px;
}
/* END GROUPS */
@media only screen and (min-width: 1224px) {
  .button-spacer {
    display: block;
    height: 112px;
  }
  .split-panes.horizontal > .split-pane2 {
    left: 50% !important;
  }
}
