@import './variables'

.login-container, .register-container
	height 400px
	left -300px
	margin-left 50%
	margin-top 10%
	position absolute
	width 600px 
	
	legend
		border-color $raised-dark-grey
	
	.well
		background-color $inset-middle-grey
		color $font
	.login-btn
		color $font-dark
		width 80%
		margin-left 10%
	.register 
		h5
			display inline
		a 
			display inline
