/* ANIMAL SELECTION AREA (.toolbar) */
.selection-layout {
  height: 100%;
  width: 95%;
  margin-bottom: 30px;
  position: absolute;
}
.selection-layout input {
  width: 100%;
  float: right;
}
.textwrap {
  float: left;
  margin: 10px;
}
.wildlife-description {
  clear: both;
}
.selectedWildlifeContainer {
  border: 3px solid #d7e0e2;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  float: right;
  width: 100%;
  height: 91%;
  display: block;
  margin-top: 4%;
  overflow-x: hidden;
}
.selectedWildlife {
  clear: both;
  display: block;
  width: 100%;
}
.wildlifeCell {
  width: 25%;
}
.wildlifeBtnCell {
  width: 25%;
  float: right;
}
.monitor-info {
  float: left;
  margin-top: 40px;
}
.wildlifeCounter,
.monitor-counter {
  float: left !important;
  width: 40px !important;
}
.monitor-check {
  margin-left: 10px !important;
  margin-top: 9px;
  position: absolute;
}
.monitor-label {
  float: left;
}
.selectedWildlifeName {
  float: left;
}
.popup-row {
  margin-left: 10px;
  position: absolute;
  margin-top: 150px;
}
.video-label {
  margin-left: 20px;
}
.remove-selected-wildlilfe-btn,
.remove-selected-monitor-btn,
.closePopUp {
  clear: both;
  margin-top: 2px;
  border: 1px solid #808080;
  text-align: center;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.remove-selected-monitor-btn {
  width: 15px;
  float: right;
}
.closePopUp {
  width: 20px;
  height: 20px;
  right: 10px;
  position: absolute;
  z-index: 1;
}
.selectedThumb {
  margin-right: 10px;
  cursor: pointer;
}
.wildlife-popup {
  clear: both;
  width: 300%;
  height: 700px;
  margin-left: -304%;
  top: 5px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -webkit-box-shadow: 15px 15px 15px 10px rgba(155,157,157,0.5);
  -moz-box-shadow: 15px 15px 15px 10px rgba(155,157,157,0.5);
  box-shadow: 15px 15px 15px 10px rgba(155,157,157,0.5);
  border: 5px solid #d7e0e2;
  background-color: #fff;
  position: absolute;
  padding: 10px;
  z-index: 1000;
}
.wildlife-popup-row {
  float: left;
}
.project-popup {
  width: 71%;
  height: 700px;
  margin-left: 3.7%;
  margin-top: 1%;
  z-index: 1002;
}
.project-popup-date-input {
  width: 40%;
  display: inline;
  float: left;
  margin-right: 20px;
}
.what-we-have {
  width: 50%;
  float: left;
}
.further-info {
  width: 50%;
  float: right;
}
.project-popup,
.comment-popup {
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -webkit-box-shadow: 15px 15px 15px 10px rgba(155,157,157,0.5);
  -moz-box-shadow: 15px 15px 15px 10px rgba(155,157,157,0.5);
  box-shadow: 15px 15px 15px 10px rgba(155,157,157,0.5);
  border: 5px solid #d7e0e2;
  position: absolute;
  background-color: #fff;
  padding: 10px;
}
.comment-popup {
  width: 600px;
  height: 300px;
  margin-left: -70%;
  margin-top: -200%;
  z-index: 1001;
}
.comment-popup label {
  display: inline;
  margin-left: 10px;
}
.comment-textarea {
  position: absolute;
  top: 30px;
}
.label-comments {
  clear: both;
  float: left;
  margin-top: 20px;
}
.saved-wildlife-comments {
  clear: both;
  top: 16px;
  width: 260px;
  height: 80 p;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
.popupCancel,
.popupComments {
  width: 80px;
  height: 22px;
  border: 1px solid #808080;
  text-align: center;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  bottom: 10px;
  left: 30px;
  position: absolute;
}
.popupComments {
  width: 120px;
}
.popupSave {
  width: 40px;
  height: 22px;
  border: 1px solid #808080;
  text-align: center;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  bottom: 10px;
  right: 30px;
  position: absolute;
}
/* END ANIMAL SELECTION AREA */
/* MAP */
.leaflet-control-geosearch,
.leaflet-control-geosearch ul {
  margin-left: 50px !important;
  width: 400px !important;
  position: relative !important;
  top: -70px !important;
}
#map {
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border: 3px solid #d7e0e2;
  position: absolute;
  left: 0;
  margin-top: 4.5%;
  width: 100%;
  height: 95% !important;
  display: block;
}
.map-frontpage {
  margin-top: -4.5% !important;
}
.save-project-button {
  display: block;
  width: 100%;
  height: 45px;
  margin-top: 41.5%;
  z-index: 1000;
  position: relative;
}
.create-project-button,
.create-group-button {
  display: block;
  width: 100%;
  height: 45px;
  bottom: 5%;
  z-index: 100;
  position: absolute;
}
.marker-popup {
  clear: both;
  width: 25%;
  height: 500px;
  top: 130px;
  margin-left: 5%;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -webkit-box-shadow: 15px 15px 15px 10px rgba(155,157,157,0.5);
  -moz-box-shadow: 15px 15px 15px 10px rgba(155,157,157,0.5);
  box-shadow: 15px 15px 15px 10px rgba(155,157,157,0.5);
  border: 5px solid #d7e0e2;
  background-color: #fff;
  position: absolute;
  padding: 10px;
  z-index: 1000;
}
.monitor-intro-no-thanks-btn {
  float: left;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.monitor-intro-continue-btn {
  float: right;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.monitor-specific-no {
  width: 80px;
  float: left;
  position: absolute;
  left: 60px;
}
.monitor-specific-yes {
  width: 80px;
  float: right;
  position: absolute;
  right: 60px;
}
.monitor-popup-close-btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.monitor-popup-remove-btn {
  position: absolute;
  bottom: 20px;
  left: 150px;
}
.monitor-popup-save-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
/* END MAP */
/* END MAIN PAGE */
.leaflet-draw-draw-circle,
.leaflet-draw-draw-marker,
.leaflet-draw-draw-polyline {
  visibility: hidden;
  height: 0px !important;
  margin: 0 !important;
  padding: 0 !important;
}
.leaflet-draw-draw-polygon,
.leaflet-draw-draw-rectangle {
  margin-bottom: -1px;
}
