.map-container {
  padding-left: 5px;
  float: left;
  margin-right: 1%;
  height: 100%;
}
#map {
  height: 100%;
}
.create-project-button,
.create-group-button {
  display: block;
  width: 100%;
  height: 45px;
  z-index: 100;
  position: relative;
}
.leaflet-draw-draw-polygon {
  margin-bottom: -2px;
}
.leaflet-control-geosearch,
.leaflet-control-geosearch ul {
  margin-left: 50px !important;
  width: 400px !important;
  position: relative !important;
  top: -70px !important;
}
.showMapBtn {
  z-index: 1000;
  margin-top: 50px;
  position: absolute;
  margin-left: 100px;
}
.map-frontpage {
  margin-top: -4.5% !important;
}
.col-12-map-container,
.col-8-map-container {
  height: 75%;
  width: 90%;
  position: absolute;
  margin-left: 5%;
  margin-right: 5%;
}
.col-8-map-container {
  height: 580px;
}
@media only screen and (min-width: 320px) {
  .map-edit-container {
    height: 640px;
    width: 100%;
  }
}
@media only screen and (min-width: 1224px) {
  .save-project-button {
    display: block;
    width: 95%;
    height: 45px;
    z-index: 1000;
    position: relative;
  }
  .map-edit-container {
    height: 640px;
    width: 25%;
  }
  .map-edit {
    height: 600px !important;
    width: 25%;
  }
  .map-details-container {
    height: 600px;
    width: 50%;
  }
  .map-details {
    height: 300px !important;
    width: 50%;
  }
}
