#map {
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border: 3px solid #d7e0e2;
  position: absolute;
  left: 0;
  margin-top: 4.5%;
  width: 100%;
  height: 95% !important;
  display: block;
}
.save-project-button {
  display: block;
  width: 100%;
  height: 45px;
  margin-top: 41.5%;
  z-index: 1000;
  position: relative;
}
.create-project-button,
.create-group-button {
  display: block;
  width: 100%;
  height: 45px;
  z-index: 100;
  position: relative;
}
.leaflet-draw-draw-circle,
.leaflet-draw-draw-marker,
.leaflet-draw-draw-polyline,
.leaflet-draw-edit-edit {
  visibility: hidden;
  height: 0px !important;
  margin: 0 !important;
  padding: 0 !important;
}
.leaflet-draw-draw-rectangle {
  visibility: hidden;
  height: 0px !important;
  margin: 0 !important;
  padding: 0 !important;
}
.leaflet-draw-draw-polygon {
  margin-bottom: -2px;
}
.leaflet-control-geosearch,
.leaflet-control-geosearch ul {
  margin-left: 50px !important;
  width: 400px !important;
  position: relative !important;
  top: -70px !important;
}
.showMapBtn {
  z-index: 1000;
  margin-top: 50px;
  position: absolute;
  margin-left: 100px;
}
.map-frontpage {
  margin-top: -4.5% !important;
}
.map-edit-container {
  height: 640px;
  width: 40%;
}
.map-edit {
  height: 600px !important;
  width: 40%;
}
.map-details-container {
  height: 600px;
  width: 50%;
}
.map-details {
  height: 300px !important;
  width: 50%;
}
.create-row-map-container {
  margin-top: -50px;
}
.col-9-map-container,
.col-3-selection-container {
  height: 78%;
  margin-bottom: 1%;
  position: absolute;
}
.col-9-map-container {
  margin-left: 60px;
  width: 72%;
  margin-top: -50px;
}
.col-12-map-container,
.col-8-map-container {
  height: 75%;
  width: 90%;
  position: absolute;
  margin-left: 5%;
  margin-right: 5%;
}
.col-8-map-container {
  height: 580px;
}
@media only screen and (min-width: 320px) {
  .front-page-map {
    width: 320px !important;
    margin-top: 245px;
  }
}
@media only screen and (min-width: 480px) {
  .front-page-map {
    width: 480px !important;
    margin-top: 5px;
  }
}
@media only screen and (min-width: 600px) {
  .front-page-map {
    width: 600px !important;
  }
}
@media only screen and (min-width: 800px) {
  .front-page-map {
    width: 800px !important;
  }
}
@media only screen and (min-width: 1024px) {
  .front-page-map {
    width: 58% !important;
  }
  .front-page-top-row {
    height: 620px;
  }
}
