@import "variables"

/* NAVBAR */

.navbar 
	background-color $background
	height 50px
	height 50px
	margin-left 1px
	position fixed
	width 100%
	top: 0

.navbar-header a.navbar-brand
	margin-top -3px
	padding-left 20px
	font-size 11pt
	color $font

.navbar-nav > li.dropdown 
	background-color $background
	height 40px

.navbar-nav > li.dropdown > a
	color $font

#logo 
	width 33px
	height 33px
	margin-top 5px
	display block
	background url('../img/logo.png')
	background-repeat no-repeat
	float left

.slogan
	width 230px

.navbar-header:hover a.navbar-brand:hover,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:active,
.navbar-nav > li.dropdown > a:hover, 
.navbar-nav > li.dropdown > a:active, 
.navbar-nav > li.dropdown > a:focus
	color $font-link-hover !important

.navbar-inverse .navbar-nav > li > a
	color $font

.navbar-inverse
	border-bottom 5px solid #d7e0e2
	-webkit-box-shadow 5px 1px 20px 5px rgba(155,157,157,0.5)
	-moz-box-shadow 5px 1px 20px 5px rgba(155,157,157,0.5)
	box-shadow 5px 1px 20px 5px rgba(155,157,157,0.5)
	z-index 1002	



.main-nav-links
	margin 0 auto
	position relative
	width 30%

ul.nav .navbar-nav .main_links
	display inline

ul.nav.navbar-nav a.navbar-nav-link
	font-size 1.1em
	color $font

.toast-top-right
	top 70px

.toast-success
	background-color #009900

li a i.hamburger 
	display none

/* END NAVBAR */







@media only screen and (max-width: 680px)
	li a i.hamburger
		display block
		
	ul.nav.navbar-nav a.navbar-nav-link
		display none

