/* NAVBAR */
.navbar {
  background-color: #fff;
  height: 100px;
}
.navbar-header a.navbar-brand {
  margin-top: -5px;
  padding-left: 25px;
}
.navbar-header a.navbar-brand h6 {
  color: #ccc;
}
.navbar-header a.navbar-brandhover {
  color: #000;
}
.navbar-header a.navbar-brandactive {
  color: #000;
}
.navbar-header a.navbar-brandlink {
  color: #000;
}
.navbar-header:hover a.navbar-brand:hover {
  color: #000;
}
.navbar-inverse .navbar-nav > li > ahover {
  color: #000;
}
.navbar-inverse .navbar-nav > li > aactive {
  color: #000;
}
.navbar-inverse .navbar-nav > li > alink {
  color: #000;
}
.navbar-inverse .navbar-nav > li > afocus {
  color: #000;
}
.navbar-inverse {
  border-bottom: 5px solid #d7e0e2;
  -webkit-box-shadow: 5px 1px 20px 5px rgba(155,157,157,0.5);
  -moz-box-shadow: 5px 1px 20px 5px rgba(155,157,157,0.5);
  box-shadow: 5px 1px 20px 5px rgba(155,157,157,0.5);
  z-index: 1002;
}
#logo {
  width: 33px;
  height: 50px;
  margin-top: 5px;
  margin-left: 10px;
  display: block;
  background: url("../img/wFlogo.png");
  float: left;
}
.slogan {
  width: 230px;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
.main_nav_links {
  margin: 0 auto;
  position: relative;
  width: 30%;
}
ul.nav.navbar-nav a.navbar-nav-link {
  font-size: 1.1em;
  color: #999;
  margin-left: 20px;
}
.toast-top-right {
  top: 70px;
}
.toast-success {
  background-color: #090;
}
/* END NAVBAR */
