@import "variables"

/* NAVBAR */

.main-nav
	background-color $raised-dark-grey
	height 40px
	position fixed
	width 101%
	margin-left -1%
	top: 0
	border-bottom .5px solid #3a3a3a
	// -webkit-box-shadow 1px 1px 20px 5px rgba(155,157,157,0.5)
	// -moz-box-shadow 1px 1px 20px 5px rgba(155,157,157,0.5)
	// box-shadow 1px 1px 20px 5px rgba(155,157,157,0.5)
	-webkit-box-shadow 1px 1px 20px 5px rgba(0, 123,0,0.3)
	-moz-box-shadow 1px 1px 20px 5px rgba(0, 123, 0,0.3)
	box-shadow 1px 1px 20px 5px rgba(0, 123, 0,0.3)
	z-index 1

.se-header
	a
		margin-top -3px
		padding-left 20px
		font-size 11pt
		color $font
		float left
	a:hover
		text-decoration none
		color $font-link-hover

.main-nav > li.dropdown
	background-color $raised-dark-grey
	height 40px

.main-nav > li.dropdown > a
	color $font

#logo
	width 250px
	height 60px
	margin-top -4px
	display block
	background url('../img/se_logo.png')
	background-repeat no-repeat
	float left

.top-nav
	text-decoration none
	margin-top 5px
	li
		list-style-type none
		display inline
		float left
		margin-right 10px
		a
			color $font
			font-size 10pt
		a:hover, a:active
			text-decoration none
			color $font-link-hover

.centre-links
	margin-left 40%

.authentication-nav
	float right

.toast-top-right
	top 70px

.toast-success
	background-color #009900

li a i.hamburger
	display none


.main-nav > li.dropdown > a:hover,
.main-nav > li.dropdown > a:active,
.main-nav > li.dropdown > a:focus
	color $font-link-hover !important

/* END NAVBAR */

@media only screen and (max-width: 680px)
	li a i.hamburger
		display block
		margin-left 100%

	a.res-nav
		display none

	div.mob
		background-color $raised-dark-grey
		width 102%
		height 140px
		display block
		position absolute
		margin 31px -42%

		ul
			margin 0
			padding 0
			width 100%
			li
				margin-left 0px
				margin-top 10px
				a
					background-color $raised-dark-grey
					height 25px
					color $font
					display block
					width 800px


	a.mob:hover
		color $font-link-hover
