/* NAVBAR */
.navbar {
  background-color: #fff;
  height: 100px;
}
.navbar-header a.navbar-brand {
  margin-top: -5px;
  padding-left: 25px;
}
.navbar-header a.navbar-brand h6 {
  color: #ccc;
}
.navbar-header a.navbar-brandhover {
  color: #000;
}
.navbar-header a.navbar-brandactive {
  color: #000;
}
.navbar-header a.navbar-brandlink {
  color: #000;
}
#logo {
  width: 33px;
  height: 50px;
  margin-top: 5px;
  display: block;
  background: url("../img/wFlogo.png");
  float: left;
}
.slogan {
  width: 230px;
}
.navbar-header:hover a.navbar-brand:hover {
  color: #000;
}
.navbar-inverse .navbar-nav > li > ahover {
  color: #000;
}
.navbar-inverse .navbar-nav > li > aactive {
  color: #000;
}
.navbar-inverse .navbar-nav > li > alink {
  color: #000;
}
.navbar-inverse .navbar-nav > li > afocus {
  color: #000;
}
.navbar-inverse {
  border-bottom: 5px solid #d7e0e2;
  -webkit-box-shadow: 5px 1px 20px 5px rgba(155,157,157,0.5);
  -moz-box-shadow: 5px 1px 20px 5px rgba(155,157,157,0.5);
  box-shadow: 5px 1px 20px 5px rgba(155,157,157,0.5);
  z-index: 1002;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
.main-nav-links {
  margin: 0 auto;
  position: relative;
  width: 30%;
}
ul.nav.navbar-nav a.navbar-nav-link {
  font-size: 1.1em;
  color: #999;
}
.toast-top-right {
  top: 70px;
}
.toast-success {
  background-color: #090;
}
/* END NAVBAR */
@media only screen and (min-width: 320px) {
  .navbar {
    height: 240px;
    margin-top: -35%;
    border: none;
  }
  #small-screen-login {
    list-style-type: none;
  }
  #small-screen-login li a {
    text-decoration: none;
    color: #999;
    position: absolute;
    margin-left: 110px;
    top: 25px;
  }
  #small-screen-login #small-screen-login li a:hover {
    color: #000;
  }
  ul.main_links {
    display: inline-flex;
    text-align: center;
    margin-left: -130px;
    margin-top: 4px;
    position: absolute;
    width: 300px;
  }
  .navbar-form {
    position: absolute;
    margin-top: 180px;
    left: 50px;
  }
  #logo {
    margin-left: 10px;
  }
  ul.nav.navbar-nav a.navbar-nav-link {
    width: 140px;
    margin: 0 auto;
  }
  .navbar-right {
    width: 235px;
    float: right;
    margin-top: -155px;
  }
  .navbar-form {
    border-top: none;
    border-bottom: none;
  }
  .navbar-collapse {
    border-top: none;
  }
}
@media only screen and (min-width: 480px) {
  .navbar {
    height: 180px;
    margin-top: -23%;
  }
  .navbar-form {
    margin-top: 17%;
    margin-left: 38%;
  }
  ul.main_links {
    margin-left: -90px;
    margin-top: 50%;
  }
}
@media only screen and (min-width: 600px) {
  .navbar {
    height: 145px;
    margin-top: -19%;
  }
  ul.main_links {
    margin-left: -150%;
    margin-top: 10px;
  }
  .navbar-form {
    margin-top: 14%;
    margin-left: 50%;
  }
}
@media only screen and (min-width: 768px) {
  .navbar {
    margin-top: -14% !important;
  }
  ul.main_links {
    margin-top: 40px;
  }
  .navbar-header {
    padding-left: 5px;
  }
  #logo {
    margin-left: -18px;
  }
  .navbar-form {
    margin-top: 21%;
    left: -3% !important;
  }
}
@media only screen and (min-width: 1224px) {
  .navbar {
    height: 110px;
    margin-left: 1px;
    margin-top: -4% !important;
    padding-top: 10px;
    top: 8%;
    position: fixed;
    width: 100%;
  }
  .navbar-right {
    margin-right: 0px;
    margin-top: 20px;
  }
  .navbar-form {
    margin-top: 0%;
    left: 20% !important;
  }
  ul.main_links {
    margin-top: -6px !important;
    width: 50%;
    margin-left: 25%;
    left: -25%;
  }
  #logo {
    margin-left: -5px;
  }
}
