/* NAVBAR */

.navbar 
	background-color #fff
	height 100px

.navbar-header a.navbar-brand
	margin-top -5px
	padding-left 25px
	h6
		color #ccc
	&hover 
		color black
	&active
		color black
	&link
		color black


#logo 
	width 33px
	height 50px
	margin-top 5px
	
	display block
	background url('../img/wFlogo.png')
	float left

.slogan
	width 230px

.navbar-header:hover a.navbar-brand:hover
	color black

.navbar-inverse .navbar-nav > li > a
	&hover 
		color black
	&active
		color black
	&link
		color black
	&focus
		color black



.navbar-inverse
	border-bottom 5px solid #d7e0e2
	-webkit-box-shadow 5px 1px 20px 5px rgba(155,157,157,0.5)
	-moz-box-shadow 5px 1px 20px 5px rgba(155,157,157,0.5)
	box-shadow 5px 1px 20px 5px rgba(155,157,157,0.5)
	z-index 1002	



.navbar-form
	.form-group
		margin-left 10px
	button
		margin-left 10px

.main-nav-links
	margin 0 auto
	position relative
	width 30%

ul.nav.navbar-nav a.navbar-nav-link
	font-size 1.1em
	color #999

.toast-top-right
	top 70px

.toast-success
	background-color #009900

/* END NAVBAR */


@media only screen and (min-width: 320px)
	.navbar	
		height 240px
		margin-top -35%
		border none
	#small-screen-login
		list-style-type none
		li a
			text-decoration none
			color #999999
			position absolute
			margin-left 110px
			top 25px
		#small-screen-login li a:hover
			color black

	ul.main_links 
		display inline-flex
		text-align center
		margin-left -130px
		margin-top 4px
		position absolute
		width 100%
	.navbar-form
		position absolute
		margin-top 180px
		left 50px
	#logo 
		margin-left 10px
	ul.nav.navbar-nav a.navbar-nav-link
		width 140px
		margin 0 auto
	.navbar-right
		width 235px
		float right
		margin-top -155px
	.navbar-form
		border-top none
		border-bottom none
	.navbar-collapse
		border-top none

@media only screen and (min-width: 480px)
	.navbar
		height 180px
		margin-top -23%
	.navbar-form
		margin-top 17%
		margin-left 38%
	ul.main_links
		margin-left -90px
		margin-top 50%



@media only screen and (min-width: 600px)
	.navbar
		height 145px
		margin-top -19%
	ul.main_links
		margin-left -150%
		margin-top 10px
	.navbar-form
		margin-top 14%
		margin-left 50%

@media only screen and (min-width: 768px)
	.navbar	
		margin-top -14% !important
	ul.main_links
		margin-top 40px 
	.navbar-header
		padding-left 5px
	#logo 
		margin-left -18px
	.navbar-form
		margin-top 21%

@media only screen and (min-width: 960px) and (max-width: 1024px)
	.navbar
		margin-top 0%
	ul.main_links
		margin-left -11%
		top 52px !important
	.navbar-form
		margin-top -10px !important
		left -20% !important
	#logo 
		margin-left -35px

@media only screen and (orientation: landscape) and (min-device-width: 1000px) and (max-device-width: 1024px)
	.navbar
		height 100px
		margin-top -62px !important
		padding-top 41px
		position fixed 
		width 100%

@media only screen and (min-width: 1025px)
	.navbar
		height 110px
		margin-left 1px
		margin-top -6% !important
		padding-top 10px

	.navbar-right
		margin-right 0px
		margin-top 20px
	.navbar-form
		margin-top 0%
		left 20% !important
	ul.main_links
		margin-top -6px !important
	#logo
		margin-left -5px
