/* POPUP BASE STYLES */
.popup-container {
  border-radius: 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 5px 1px 20px 5px rgba(155,157,157,0.5);
  -moz-box-shadow: 5px 1px 20px 5px rgba(155,157,157,0.5);
  box-shadow: 5px 1px 20px 5px rgba(155,157,157,0.5);
  border: 5px solid #d7e0e2;
  position: relative;
  background-color: #fff;
}
.email-popup {
  clear: both;
  width: 650px;
  height: 700px;
  margin-left: 33%;
  margin-top: 10%;
  position: absolute;
  padding: 10px;
  z-index: 1000;
}
.chat-popup {
  clear: both;
  width: 350px;
  height: 500px;
  margin-left: 33%;
  margin-top: 10%;
  position: absolute;
  padding: 10px;
  z-index: 1001;
}
.project-popup {
  width: 71%;
  height: 700px;
  margin-left: 3.7%;
  margin-top: 1%;
  z-index: 1002;
  position: absolute;
  padding: 10px;
}
.comment-popup {
  width: 750px;
  height: 300px;
  margin-left: 25%;
  margin-top: 10%;
  z-index: 1001;
}
.wildlife-popup {
  clear: both;
  width: 50%;
  height: 700px;
  margin-left: 4%;
  top: 17%;
  position: absolute;
  padding: 10px;
  z-index: 1000;
}
.marker-popup {
  clear: both;
  width: 25%;
  height: 500px;
  top: 130px;
  margin-left: 5%;
  position: absolute;
  padding: 10px;
  z-index: 1000;
}
.monitor-panel {
  width: 300px;
  height: 500px;
  margin-top: -470px;
  margin-left: 30px;
  border: 5px solid #d7e0e2;
  position: relative;
  float: left;
  padding: 10px;
  z-index: 1001;
}
.closePopUp {
  width: 20px;
  height: 20px;
  right: 10px;
  position: absolute;
  z-index: 1;
}
.how-to-container,
.about-container {
  width: 75%;
  display: block;
  margin-left: 12.5%;
  height: 7700px;
  position: absolute;
  padding-left: 150px;
}
/* END POPUP BASE STYLES */
/* 	PROJECT POPUP */
.what-we-have {
  width: 50%;
  float: left;
}
.project-popup-date-input {
  width: 40%;
  display: inline;
  float: left;
  margin-right: 20px;
}
/* END PROJECT POPUP */
/* MONITOR POPUP STYLES */
.monitor-intro-no-thanks-btn {
  float: left;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.monitor-intro-continue-btn {
  float: right;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.monitor-specific-no {
  width: 80px;
  float: left;
  position: absolute;
  left: 60px;
}
.monitor-specific-yes {
  width: 80px;
  float: right;
  position: absolute;
  right: 60px;
}
.monitor-popup-close-btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.monitor-popup-remove-btn {
  position: absolute;
  bottom: 20px;
  left: 150px;
}
.monitor-popup-save-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
/* END MONITOR POPUP STYLES */
/* WILDLIFE POPUP */
.wildlife-popup-save {
  width: 40px;
  height: 22px;
  border: 1px solid #808080;
  text-align: center;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  bottom: 10px;
  right: 30px;
  position: absolute;
}
.wildlife-popup-row {
  float: left;
}
/* END WILDLIFE POPUP */
/* COMMENT POPUP STYLES */
.saved-wildlife-comments {
  clear: both;
  top: 16px;
  width: 260px;
  height: 80px;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
.comment-popup label {
  display: inline;
  margin-left: 10px;
}
.comment-textarea {
  position: absolute;
  top: 30px;
}
.label-comments {
  clear: both;
  float: left;
  margin-top: 20px;
}
.popupCancel,
.popupComments {
  width: 80px;
  height: 22px;
  border: 1px solid #808080;
  text-align: center;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  bottom: 10px;
  left: 30px;
  position: absolute;
}
.popup-comments {
  width: 120px;
}
