.editable-click,
a.editable-click {
  font-family: arial;
  font-weight: bold;
  color: #999 !important;
  border-bottom: 1px solid #d7e0e2 !important;
}
.edit-container {
  margin-top: -35px;
}
.edit-wildlife-container {
  border: 1px solid #d7e0e2;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  float: right;
  width: 100%;
  height: 500px;
  display: block;
  margin-top: -5%;
  overflow-x: hidden;
}
.edit-text-box,
.edit-date-box {
  border: 1px solid #d7e0e2;
  line-height: 2;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 3px;
}
editable-bsdate {
  border-bottom: none !important;
}
.edit-date-box {
  padding: 5px;
}
.project-wildlife {
  margin-top: 45px;
}
.edit-selection-input {
  margin-bottom: 30px;
}
.edit-project-wildlife-numbers {
  position: absolute;
}
/*	margin-top 20px*/
.edit-project-wildlife-names {
  position: absolute;
  left: 50px;
}
/*	margin-top 20px*/
.edit-remove-selected-wildlilfe-btn {
  position: absolute;
  right: 10px;
}
/*	margin-top 20px*/
.editable-wrap {
  margin-bottom: 30px !important;
}
.edit-text-area {
  z-index: 1000;
}
/* END MAIN PAGE */
.save-edit-map-btn {
  height: 5%;
  bottom: 0;
  left: 0.5%;
  width: 99%;
  position: absolute;
  z-index: 9999;
}
.col-9-project-container {
  margin-left: 12.5%;
}
.project-outline {
  border: 1px solid #d3d3d3;
  border-radius: 1px;
  float: left;
  margin: 40px;
  padding: 10px;
  max-width: 200px;
  max-height: 500px;
  position: relative;
}
.project-thumb-project-name {
  color: #999;
}
@media only screen and (min-width: 320px) {
  .col-3-edit-selection-container {
    float: left;
    margin-left: 0.5%;
    height: 600px;
    width: 100%;
    margin-bottom: 1%;
    border: 3px solid #d7e0e2;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: block;
    margin-top: 2%;
    overflow-x: hidden;
  }
  .col-2-edit-selection-container {
    float: left;
    margin-left: 0.5%;
    height: 600px;
    width: 100%;
    margin-bottom: 1%;
    border: 3px solid #d7e0e2;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: block;
    margin-top: 2%;
    overflow-x: hidden;
  }
}
@media only screen and (min-width: 600px) {
  .col-3-edit-selection-container {
    width: 30%;
  }
  .col-2-edit-selection-container {
    width: 30%;
  }
}
@media only screen and (min-width: 1224px) {
  .col-3-edit-selection-container {
    width: 20%;
  }
  .col-2-edit-selection-container {
    width: 15%;
  }
}
