/*.ng-pristine {border 1px solid green }*/
/*.ng-dirty { border 1px solid yellow }
.ng-invalid.ng-dirty { border 1px solid red }
.ng-valid.ng-dirty { border 1px solid green }*/

.document-overlay 
	display block
	position relative
	background-color white
	width 800px
	height 700px
	top 150px
	margin-left 50%
	left -400px

.document-overlay-close-btn 
	width 20px
	height 20px
	float right
	margin-top 10px
	margin-right 10px
	border 1px solid grey

html, .row-map-container, .content, .main-container
	height 100%

.col-3-selection-container
	margin-left 75%

.col-6-dashboard-container
	margin-top 120px
	width 100%

.col-6-group-container
	margin-top 50px
	border-left 5px solid #d7e0e2
	height 100%
	min-width 100px

body 
	height 700px

.container
	height 5% !important

.front-page-map
	float left
	height 580px

.front-page-top-row
	height 600px

.front-page-bottom-row
	height 400px
	border-top 1px solid #d7e0e2

.front-page-top-left-col
	float left
	padding-left 50px
	height 600px
	border-right 1px solid #d7e0e2

.front-page-top-right-col
	float left
	min-width 300px
	height 600px
	border-left 1px solid #d7e0e2

.front-page-bottom-left-col
	float left
	height 400px
	padding 20px 50px 20px 50px
	border-right 1px solid #d7e0e2

.front-page-bottom-middle-col
	float left
	padding 20px 50px 20px 50px
	height 400px

.front-page-bottom-right-col
	float left
	padding 20px 50px 20px 50px
	height 400px
	border-left 1px solid #d7e0e2

footer
	padding-left 15px
	padding-right 15px
	bottom 0
	position fixed
	height 20px
	z-index 300
	background-color white
	p
		border-top 1px solid #d7e0e2

/* PROJECT / FUND LIST PAGE */

section.content 
	margin-top 50px

#center-pane
	margin-left 15%

/* END PROJECT / FUND LIST PAGE */

.view-content-container
	padding-left 50px
	padding-right 50px

.view-info-block
	padding 50px

@media only screen and (min-width: 320px)
	.front-page-map
		width 320px !important


