/*.ng-pristine {border 1px solid green }*/
/*.ng-dirty { border 1px solid yellow }
.ng-invalid.ng-dirty { border 1px solid red }
.ng-valid.ng-dirty { border 1px solid green }*/
html {
  height: 100%;
  width: 100%;
}
body {
  padding: 0;
  border-left: 3px solid #4e4e4e;
  border-right: 3px solid #4e4e4e;
  width: 100%;
  height: 100;
  z-index: 10;
}
section.content {
  background-color: #fff;
  height: 95%;
  width: 100%;
}
footer {
  bottom: 0;
  position: fixed;
  height: 20px;
  background-color: #4e4e4e;
  color: #ccc;
  width: 101%;
  margin-left: -1%;
  -webkit-box-shadow: 1px 1px 20px 5px rgba(0,123,0,0.3);
  -moz-box-shadow: 1px 1px 20px 5px rgba(0,123,0,0.3);
  box-shadow: 1px 1px 20px 5px rgba(0,123,0,0.3);
}
.info-row {
  width: 100%;
  height: 400px;
}
.info-row .info-box {
  width: 33%;
  float: left;
}
.info-row .partner-panel {
  width: 25%;
  float: left;
}
.home-hero {
  position: fixed;
  width: 100% !important;
  height: 100%;
  margin-left: -3px;
}
.home-hero img {
  height: auto;
  margin-top: -20px;
  width: 100%;
}
.home-hero .home-btn {
  width: 300px;
  height: 100px;
  margin: 20% 50% 0 50%;
  left: -150px;
  display: block;
  position: absolute;
  font-size: 30pt;
  color: #fff;
  text-align: center;
}
.home-hero .btn-custom {
  background-color: #4a9041 !important;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#5db152), to(#4a9040));
  background-image: -moz-linear-gradient(top, #5db152, #4a9040);
  background-image: -ms-linear-gradient(top, #5db152, #4a9040);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5db152), color-stop(100%, #4a9040));
  background-image: -webkit-linear-gradient(top, #5db152, #4a9040);
  background-image: -o-linear-gradient(top, #5db152, #4a9040);
  background-image: linear-gradient(#5db152, #4a9040);
  border-color: #4a9040 #4a9040 #46873d;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.16);
  -webkit-font-smoothing: antialiased;
}
.home-hero .home-text {
  display: block;
  font-size: 47pt;
  height: 100px;
  left: -40%;
  margin: 5% 50% 0;
  position: absolute;
  width: 100%;
}
.document-overlay {
  display: block;
  position: relative;
  background-color: #fff;
  width: 800px;
  height: 700px;
  top: 150px;
  margin-left: 50%;
  left: -400px;
}
.document-overlay-close-btn {
  width: 20px;
  height: 20px;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  border: 1px solid #808080;
}
.col-3-selection-container {
  margin-left: 75%;
}
.container {
  height: 5% !important;
}
.front-page-map {
  float: left;
  height: 580px;
}
.front-page-top-row {
  height: 600px;
}
.front-page-bottom-row {
  height: 400px;
  border-top: 1px solid #d7e0e2;
}
.front-page-top-left-col {
  float: left;
  padding-left: 50px;
  height: 600px;
  border-right: 1px solid #d7e0e2;
}
.front-page-top-right-col {
  float: left;
  min-width: 300px;
  height: 600px;
  border-left: 1px solid #d7e0e2;
}
.front-page-bottom-left-col {
  float: left;
  height: 400px;
  padding: 20px 50px 20px 50px;
  border-right: 1px solid #d7e0e2;
}
.front-page-bottom-middle-col {
  float: left;
  padding: 20px 50px 20px 50px;
  height: 400px;
}
.front-page-bottom-right-col {
  float: left;
  padding: 20px 50px 20px 50px;
  height: 400px;
  border-left: 1px solid #d7e0e2;
}
/* PROJECT / FUND LIST PAGE */
#center-pane {
  margin-left: 15%;
}
/* END PROJECT / FUND LIST PAGE */
.view-content-container {
  padding-left: 50px;
  padding-right: 50px;
}
.view-info-block {
  padding: 50px;
}
@media only screen and (min-width: 320px) {
  .front-page-map {
    width: 320px !important;
  }
}
