/*.ng-pristine {border 1px solid green }*/
/*.ng-dirty { border 1px solid yellow }
.ng-invalid.ng-dirty { border 1px solid red }
.ng-valid.ng-dirty { border 1px solid green }*/
.showMapBtn {
	z-index 1000
	margin-top 50px
	position absolute
	margin-left 100px
}

.document-overlay {
	display block
	position relative
	background-color white
	width 800px
	height 700px
	top 150px
	margin-left 50%
	left -400px

.document-overlay-close-btn {
	width 20px
	height 20px
	float right
	margin-top 10px
	margin-right 10px
	border 1px solid grey
}

/*	border-bottom 5px solid #d7e0e2
	-webkit-box-shadow 5px 1px 20px 5px rgba(155,157,157,0.5)
	-moz-box-shadow 5px 1px 20px 5px rgba(155,157,157,0.5)
	box-shadow 5px 1px 20px 5px rgba(155,157,157,0.5)
	border-radius 3px
	-moz-border-radius 3px
	-webkit-border-radius 3px
	z-index 1001*/

}

html, .row-map-container, .content, .main-container
	height 75%
	margin-top 50px

.create-row-map-container
	margin-top -50px

.col-9-map-container, .col-3-selection-container
	height 78%
	margin-bottom 1%
	position absolute

.col-9-map-container
	margin-left 60px
	width 72%
	margin-top -50px

.col-12-map-container
	height 75%
	width 90%
	position absolute
	margin-left 5%
	margin-right 5%

.col-3-selection-container
	margin-left 75%

.col-6-dashboard-container
	margin-top 120px
	width 100%
	min-width 100px

.col-6-group-container
	margin-top 50px
	border-left 5px solid #d7e0e2
	height 100%
	min-width 100px

.navbar-inverse
	border-bottom 5px solid #d7e0e2
	-webkit-box-shadow 5px 1px 20px 5px rgba(155,157,157,0.5)
	-moz-box-shadow 5px 1px 20px 5px rgba(155,157,157,0.5)
	box-shadow 5px 1px 20px 5px rgba(155,157,157,0.5)

#logo 
	width 50px
	height 50px
	margin-top 5px
	margin-left -175px
	display block
	background url('../img/wFlogo.png')
	float left

body 
	height 700px
	padding-top 61px

.container
	height 5% !important


footer
	padding-left 15px
	padding-right 15px
	bottom 0
	position fixed
	height 20px
	z-index 300
	background-color white
	p
		border-top 1px solid #d7e0e2

/* DASHBOARD */

.dashboard-message
	font-family arial
	font-weight bold
	color #d7e0e2

.create-project-table
	width 100%
	display block

.create-group-table
	border 1px solid grey
	width 750px

.accordion-remove-project, .accordion-remove-group
	float right
	width 10px !important

/* END DASHBOARD */


/* MAIN PAGE */

/* EMAIL */
#sidebar {
	clear left
	float left
	min-height 300px
	width 228px
	position relative
	z-index 1scrs
}

#emailListing {
	margin-top 20px
	overflow-y scroll
	overflow-x hidden
}

.emailListing {
	border-radius 3px
	-moz-border-radius 3px
	height 120px
	overflow hidden
	padding 8px
}

#emailListing li {
	list-style-type none
}

.emailListing img {
}

.emailListing .date {
	font-size 0.5em
	color blue
	display none
}

.emailListing .subject {
	font-size 0.8em
}



/* NAVBAR */

.navbar 
	background-color #fff
	height 100px

.navbar-header a.navbar-brand
	margin-top 20px
	h6
		color #ccc
	&hover 
		color black
	&active
		color black
	&link
		color black

.navbar-inverse .navbar-nav > li > a
	&hover 
		color black
	&active
		color black
	&link
		color black
	&focus
		color black

.slogan
	width 230px


.navbar-form
	.form-group
		margin-left 10px
	button
		margin-left 10px

.main_nav_links
	margin 0 auto
	position relative
	width 30%

ul.nav.navbar-nav a.navbar-nav-link
	font-size 1.1em
	color #999
	margin-left 20px

.toast-top-right
	top 70px

.toast-success
	background-color #009900

/* END NAVBAR */

/* GROUPS */

.accordion-group-heading
	width 25%
	display inline-block

.group-container
	min-height 60px
	margin-top 100px

.group-list-container, .group-form-container
	top -50px
	position absolute


.create-group-form
	margin-top 40px

.row-collaboration-elements
	height 25%
	position relative
	width 100%
	background-color white
	min-height 200px
	z-index 200

.chat-files-panel
	border 1px solid #d7e0e2

.chat-panel
	padding 0px
	-moz-border-radius 5px
	-webkit-border-radius 5px
	border-radius 5px
	height 300px
	position absolute
	margin-left 61%

.overflowable 
	height 190px
	overflow-y auto
	border 1px solid #d7e0e2

.overflowable p 
	margin 0

.col 
	float left

.clr 
	clear both

.message-form 
	margin-left 15px

.send-message
	margin-left 10px


/* ANIMAL SELECTION AREA (.toolbar) */

.selection-layout
	height 100%
	width 95%
	input
		width 100%
		float right
	margin-bottom 30px
	position absolute

.textwrap
	float left
	margin 10px

.wildlife-description
	clear both

.selectedWildlifeContainer
	border 3px solid #d7e0e2
	-moz-border-radius 5px
	-webkit-border-radius 5px
	border-radius 5px
	float right
	width 100%
	height 91%
	display block
	margin-top 4%
	overflow-x hidden

.selectedWildlife
	clear both
	display block
	width 100%

.wildlifeCell
	width 25%

.wildlifeBtnCell
	width 25%
	float right

.monitor-info
	float left
	margin-top 40px


.wildlifeCounter, .monitor-counter
	float left !important
	width 40px !important

.monitor-check
	margin-left 10px !important
	margin-top 9px
	position absolute

.monitor-label
	float left

.selectedWildlifeName
	float left

.popup-row
	margin-left 10px
	position absolute
	margin-top 150px

.video-label
	margin-left 20px

.removeSelectedWildlilfeBtn, .closePopUp
	clear both
	margin-top 2px
	border 1px solid grey
	text-align center
	border-radius 3px
	-moz-border-radius 3px
	-webkit-border-radius 3px

.closePopUp
	width 20px	
	height 20px
	right 10px
	position absolute

.selectedThumb
	margin-right 10px
	cursor pointer

.wildlife-popup {
	clear both
	width 650px
	height 700px
	margin-left -70%
	top -50%
	border-radius 15px
	-moz-border-radius 15px
	-webkit-border-radius 15px
	-webkit-box-shadow 15px 15px 15px 10px rgba(155,157,157,.5)
	-moz-box-shadow 15px 15px 15px 10px rgba(155,157,157,.5)
	box-shadow 15px 15px 15px 10px rgba(155,157,157,.5)
	border 5px solid #d7e0e2
	background-color white
	position absolute
	padding 10px
	z-index 1000
}

.wildlife-popup-row
	float left

.project-popup 
	width 80%
	height 800px
	margin-left 10%
	z-index 1002

.what-we-have
	width 50%
	float left

.further-info
	width 50%
	float right


.project-popup, .comment-popup
	border-radius 15px
	-moz-border-radius 15px
	-webkit-border-radius 15px
	-webkit-box-shadow 15px 15px 15px 10px rgba(155,157,157,.5)
	-moz-box-shadow 15px 15px 15px 10px rgba(155,157,157,.5)
	box-shadow 15px 15px 15px 10px rgba(155,157,157,.5)
	border 5px solid #d7e0e2
	position absolute
	background-color white
	padding 10px

.comment-popup 
	width 600px
	height 300px
	margin-left -70%
	margin-top -200%
	z-index 1001

.comment-popup label
	display inline
	margin-left 10px

.comment-textarea
	position absolute
	top 30px

.label-comments
	clear both
	float left
	margin-top 20px

.saved-wildlife-comments
	clear both
	top 16px
	width 260px
	height 80p
	word-wrap normal
	overflow hidden
	text-overflow ellipsis

.popupCancel, .popupComments
	width 80px
	height 22px
	border 1px solid grey
	text-align center
	border-radius 3px
	-moz-border-radius 3px
	-webkit-border-radius 3px
	bottom 10px
	left 30px
	position absolute

.popupComments
	width 120px

.popupSave
	width 40px
	height 22px
	border 1px solid grey
	text-align center
	border-radius 3px
	-moz-border-radius 3px
	-webkit-border-radius 3px
	bottom 10px
	right 30px
	position absolute

/* END ANIMAL SELECTION AREA */
/* MAP */
.leaflet-control-geosearch, .leaflet-control-geosearch ul
	margin-left 50px !important
	width 400px !important
	position relative !important
	top -70px !important


#map 
	border-radius 15px
	-moz-border-radius 15px
	-webkit-border-radius 15px
	border 3px solid #d7e0e2
	position absolute
	left 0 
	margin-top 4.5%
	width 100%
	height 95% !important
	display block

.map-frontpage
	margin-top -4.5% !important

.save-project-button
	display block
	width 100%
	height 45px
	margin-top 41.5%
	z-index 1000
	position relative

.create-project-button, .create-group-button
	display block
	width 100%
	height 45px
	bottom 5%
	z-index 100
	position absolute


/* END MAP */
/* END MAIN PAGE */


/* PROJECT / FUND LIST PAGE */

.projectOutline
	border 3px solid #d3d3d3
	border-radius 5px
	float left
	margin 40px
	padding 10px
	max-width 200px
	max-height 250px
	position relative

#center-pane
	margin-left 15%

/* END PROJECT / FUND LIST PAGE */

/* VIEW DETAILS */

.map-details-container
	height 500px
	width 50%

.map-details
	height 300px !important
	width 50%



/* END VIEW DETAILS */

