#slide-panel {
  top: 100px;
  position: absolute;
  height: 90%;
  width: 20%;
  background-color: #fff;
  z-index: 1000;
  -webkit-box-shadow: 5px 1px 20px 5px rgba(155,157,157,0.5);
  -moz-box-shadow: 5px 1px 20px 5px rgba(155,157,157,0.5);
  box-shadow: 5px 1px 20px 5px rgba(155,157,157,0.5);
}
.sliding-panel-border-img {
  margin-left: 100%;
  width: 5px;
  height: 800px;
  background-image: url("../img/assets/img/slidebar.svg");
  margin-top: -20%;
}
.sliding-panel-border-tab {
  margin-left: 100%;
  top: 45%;
  position: relative;
  width: 15px;
  height: 50px;
  background-image: url("../img/assets/img/slidebar-tab.svg");
}
.sliding-panel-border-arrow {
  top: 35%;
  position: relative;
  width: 12px;
  height: 19px;
  background-image: url("../img/assets/img/slidebar-arrow.svg");
}
.flip {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
}
.rtc-container {
  margin-top: 100px;
}
#video {
  margin-top: 100px;
}
.buttons-wrapper {
  margin-left: 200px;
  margin-top: 200px;
  z-index: 1006;
}
