.view-close-monitor-btn,
.slide-panel-indicator,
.monitor-name {
  bottom: 10px;
  position: absolute;
}
.view-close-monitor-btn {
  left: 10px;
}
.slide-panel-indicator {
  right: 10px;
}
.monitor-name {
  margin-left: 35%;
}
.monitor-panel {
  border-radius: 15px;
  width: 300px;
  height: 500px;
  margin-top: -470px;
  margin-left: 30px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 5px 1px 20px 5px rgba(155,157,157,0.5);
  -moz-box-shadow: 5px 1px 20px 5px rgba(155,157,157,0.5);
  box-shadow: 5px 1px 20px 5px rgba(155,157,157,0.5);
  border: 5px solid #d7e0e2;
  position: relative;
  background-color: #fff;
  float: left;
  padding: 10px;
  z-index: 1001;
}
.monitor-create-container,
.monitor-details-container {
  height: 60px;
  margin-bottom: 30px;
}
.monitor-create-container {
  margin-top: -3%;
}
.monitor-details-container {
  margin-top: -2%;
}
.monitor-graph-container {
  height: 420px;
  width: 280px;
  margin: 10px 0px 0px -3px;
  border: 1px solid #d7e0e2;
}
