.splash {
  width: 200%;
  height: 300%;
  position: absolute;
  z-index: 1090;
  background-color: #fff;
  opacity: 0.7;
  margin-top: -20%;
  margin-left: -50%;
}
.splash-content {
  clear: both;
  width: 30%;
  height: 500px;
  margin-left: 35%;
  top: 10%;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -webkit-box-shadow: 15px 15px 15px 10px rgba(155,157,157,0.5);
  -moz-box-shadow: 15px 15px 15px 10px rgba(155,157,157,0.5);
  box-shadow: 15px 15px 15px 10px rgba(155,157,157,0.5);
  border: 5px solid #d7e0e2;
  background-color: #fff;
  position: absolute;
  padding: 10px;
  z-index: 1100;
}
.email-enquiry-form {
  margin: 100px 15%;
}
