extends ../includes/layout

block main-content
	.main-nav
		.container
			.se-header
				a(href="/")
					div(id="logo")
				//-	h6(class="slogan") Extend Your Reach
				div.top-nav(ng-include="'/partials/navbar/links'")
				div.top-nav(ng-include="'/partials/account/navbar-login'")
	section.content
		div(ui-view)



	footer.text-center
		p &copy; 2017 Sensors Everywhere Pty Ltd.
