extends ../includes/layout

block main-content
	.navbar.navbar-inverse.navbar-fixed-top
		.container
			.navbar-header
				a.navbar-brand(href="/") Sensors Everywhere
					h6(class="slogan") Fund, Build and Monitor Wildlife Corridors
				div(id="logo")
			.navbar-collapse
				div(ng-include="'/partials/navbar/links'")
				div(ng-include="'/partials/account/navbar-login'")
	section.content
		div(ui-view)



	footer.container.text-center
		p &copy; 2014 Sensors Everywhere Pty Ltd. &nbsp &nbsp &nbsp email me at: wade_mansell@hotmail.com 
