extends ../includes/layout

block main-content
	.main-nav
		.container
			.se-header
				div(id="logo")
				a(href="/") Sensors Everywhere
				//-	h6(class="slogan") Extend Your Reach
				div.top-nav(ng-include="'/partials/navbar/links'")
				div.top-nav(ng-include="'/partials/account/navbar-login'")
	section.content
		div(ui-view)



	footer.container.text-center
		p &copy; 2014 Sensors Everywhere Pty Ltd.
