div(ng-model="groupForm" ng-show="groupForm")
	.well
		span(class="btn btn-default" style="float: right;" ng-click="toggleGroupForm('hide')") x
		form.form-horizontal(class="create-group-form" name="createGroupForm")
			fieldset
				legend Create a Group
					.form-group
						.col-md-12
							input.form-control(name="groupname", type="text", placeholder="Group Name" ng-model="groupname" )
					.form-group
						.col-md-12
							input.form-control(name="num_members", type="text", placeholder="Number of Members" ng-model="num_members" )
					.form-group
						.col-md-12
							select(class="form-control" ng-model="belongsTo", ng-options="project.value as project for project in projectNames")			
		span(class="btn btn-default" ng-click="createGroup(groupname, num_members, belongsTo); toggleGroupForm('hide')") Create Group
.col-md-12(class="group-list-container" ng-model="groupList" ng-show="groupList" ng-controller="wFGroupCtrl")
	h4 Group list
	table(class="table")
		tr(style="font-weight: bold;")
			td(class="accordion-group-heading") Name
			td(class="accordion-group-heading") Members
			td(class="accordion-group-heading") Project
			td(class="accordion-group-heading") Delete

	accordion(close-others="oneAtATime")
		accordion-group(ng-repeat="group in groupArray track by $index | filter:searchText | orderBy:sortOrder")
			accordion-heading(style="display: inline;") 
				span(class="accordion-group-heading") {{group.name}} 
				span(class="accordion-group-heading") {{group.members}} 
				span(class="accordion-group-heading") {{group.project_name}}				
				span(class="accordion-group-heading button btn-default" ng-click="removeGroup(group._id)") Delete	
			//- 
			div(ng-controller="wFUserCtrl")
				table(class="create-user-table")
					accordion(close-others="oneAtATime")
						accordion-group(heading="Users")
								button(class="btn btn-default btn-sm" ng-click="addUser()") Add user
								table(class="table table-bordered table-hover table-condensed")
									tr(style="font-weight: bold;")
										td(style="width: 20%;") Name
										td(style="width: 12%") Status
										td(style="width: 5%") Delete
									tr(ng-repeat="user in users")
										td
											span(editable-text="user") {{user}}
										td
											select(class="form-control" ng-model="setStatus" ng-option="user.name as user.value for user in userStatus")
										td
											button(class="btn btn-default" ng-click="deleteUser()") Delete