//.container(ng-controller="wFContributionCtrl")
.container(ng-controller="wFProjectCtrl")

	.well
		form.form-horizontal(name="contributeForm")
			fieldset
				legend Contributions to {{project_name}}

					.form-group
						.col-md-8
							input.form-control(name="amount", type="text", placeholder="Contribution" ng-model="amount" )
					.form-group
						.col-md-8
							input.form-control(name="cc_number", type="text", placeholder="Credit Card Number" ng-model="cc_number" )
					.form-group
						.col-md-8
							input.form-control(name="cc_exp_month", type="number", placeholder="Credit Card Expiration Month" min="0" max="12" ng-model="cc_exp_month" )
					.form-group
						.col-md-8
							input.form-control(name="cc_exp_year", type="number", placeholder="Credit Card Expiration Year" min="2014" max="2020" ng-model="cc_exp_year" )
					.form-group
						.col-md-8
							input.form-control(name="cc_csv", type="number", placeholder="Credit Card CSV" ng-model="cc_csv" )

		button(ng-click="contribution(amount, project_name)") Pay with Credit Card		

//- button.btn.btn-primary(ng-click="Contribute()")Contribute
//- action="/pay/balanced" method="POST"

