div.chat-popup(ng-style="newDims")
	div.closePopUp(ng-click="chatPopup('hide')") X
	.col-md-4(class='chat-panel')
	h4 Chat
			//- .overflowable
			//- 	//p(ng-repeat("user in users") 
			//- 	p {{user}}
	.col-md-2
	h4 Users
			//- .overflowable
			//- 	p(ng-repeat="message in messages") {{message.user}}: {{message.text}}
	.clr
		form(class="message-form" ng-submit="sendMessage()")
			| Message: <br>
			input(size='40', ng-model='message')
			input(class="send-message" type='submit', value='Send')