div(ng-controller="wFNavBarLoginCtrl" class="main-nav-links")

	ul.nav.navbar-nav.main_links
		li
			a.navbar-nav-link(href="/pricing") Pricing
		li(ng-show="identity.currentUser.isAdmin()")
			a.navbar-nav-link(href="/create-project") Create
		li
			a.navbar-nav-link(href="/projects") Projects
		//- li
		//- 	a.navbar-nav-link(href="/contact") Contact
		li
			a
				i(class="hamburger fa fa-bars 2x" ng-click="mobileMenu()")