div.centre-links(ng-controller="wFNavBarLoginCtrl" id="mainNav")

	ul
		li
			a.res-nav(href="/pricing") Pricing
		li(ng-show="identity.currentUser.isAdmin()")
			a.res-nav(href="/create-project") Create
		li
			a.res-nav(href="/projects") Projects
		//- li
		//- 	a.navbar-nav-link(href="/contact") Contact
		li
			a
				i(class="hamburger fa fa-bars 2x" ng-click="mobileMenu = !mobileMenu")

	div.mob(ng-show="mobileMenu")
		ul
			li
				a(href="/login" ng-click="mobileMenu = !mobileMenu") Login
			li
				a(href="/signup" ng-click="mobileMenu = !mobileMenu") Sign Up
			li
				a(href="/pricing" ng-click="mobileMenu = !mobileMenu") Pricing
			li(ng-show="identity.currentUser.isAdmin()")
				a(href="/create-project" ng-click="mobileMenu = !mobileMenu") Create
			li
				a(href="/projects" ng-click="mobileMenu = !mobileMenu") Projects

