div(ng-controller="wFNavBarLoginCtrl" class="main-nav-links")

	ul.nav.navbar-nav.main_links
		li
			a.navbar-nav-link(href="/about") About
		li(ng-show="identity.currentUser.isAdmin()")
			a.navbar-nav-link(href="/create-project") Create
		li
			a.navbar-nav-link(href="/projects") View
		li
			a.navbar-nav-link(href="/contact") Contact