<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="/watch">Watch</a></li>
    <li><a ng-href="/#/main">Make</a></li>
    <li class="active"><a ng-href="/#/project">Projects</a></li>
  </ul>
  <h3 class="text-muted">Wildlife Monitor</h3>
</div>

<div ng-controller="ProjectCtrl" id="project-form" class="row">
	<div class="col-sm-8 col-sm-offset-2 text-center">
		<form>
			<div class="form-group">

				<!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
				<input type="text" class="form-control input-lg text-center" placeholder="Project Name" ng-model="formData.project_name"><br>
				<input type="text" class="form-control input-lg text-center" placeholder="Project Description" ng-model="formData.project_description"><br>
				<input type="text" class="form-control input-lg text-center" placeholder="Amount Required" ng-model="formData.project_amount"><br>
			</div>

			<!-- createToDo() WILL CREATE NEW TODOS -->
			<button type="submit" class="btn btn-primary btn-lg" ng-click="projectAdd()">Add</button>
		</form>
	</div>
</div>