.container
	.pull-right
		form.form-inline
			.form-group
				input.form-control(ng-model="searchText", placeholder="filter")
			.form-group
				select.form-control(ng-model="sortOrder", ng-option="project.project_name")
	.col-md-9(id="center-pane")
		.row
			h3 Current Projects
			div(ng-controller="wFFundCtrl")
				div(class="projectOutline" ng-repeat="project in projects track by $index | filter:searchText | orderBy:sortOrder")
					div(class="col-{{$index % 4}}")
						//button(ng-click="viewProject(project._id)") Remove
						p
						b Name: 
						a(href="/fund/{{project._id}}") {{project.project_name}}<br>
						b Description: 
						{{project.project_description}}<br> 
						b Amount Required: 
						{{project.project_funding_required}}<br> 
						b Total to Date:
						{{project.total_contributions}}<br>
						b End Date:
						{{project.project_end_date | date}}<br>
						a(ng-href="/contribute/{{project._id}}") Contribute