.container
	.row
		.col-md-8(id="center-pane")
			h3 Current Projects
			div(ng-controller="wFFundCtrl")
				div(class="projectOutline" ng-repeat="project in projects track by $index")
					button(ng-click="projectDelete(project.id)") Remove
					p
					b Name: 
					{{project.project_name}}<br>
					b Description: 
					{{project.project_description}}<br> 
					b Amount Required: 
					{{project.project_funding_required}}<br> 
					b Total to Date:
					{{project.total_contributions}}<br>
					b End Date:
					{{project.end_date}}<br>
					a(ng-href="contribute") Contribute