h4(class="emaillogger")
//- .col-md-4
//-   div.selectionInput
//-     form
//-       input(class="form-control" type="search" placeholder="Filter messages" ng-model="search.from")
//-   h4 Emails
//-   ul(id="emailListing")
//-     li(email-listing  email='mail' action="setSelectedMail(selectedMail)" ng-repeat="mail in (email | orderBy : 'sent_at' : true | limitTo : 5 | filter : search) track by $index")
     
.col-md-12(ng-controller="wFEmailContentCtrl")
  h4 Compose
  //- div(ng-show="!selectedMail")
  //-   span No conversation selected.
  div(ng-show="selectedMail")
    form.form-horizontal(id="replyForm" ng-submit="sendEmailReply()" ng-show="showingReply")
      .row
        .well
          fieldset
            legend Reply
          .form-group
            label.col-md-2.control-label(for="name") Name
            .col-md-8
              input(class="form-control" ng-model="reply.to" type="text" placeholder="")
          .form-group
            label.col-md-2.control-label(for="Body") Body
            .col-md-8
              textarea(class="form-control" ng-model="reply.body" row=5 cols=15)
          .form-group
            .col-md-8.col-md-offset-2
              button(class="btn btn-success" ng-click="sendReply()") Send 
              .pull-right
                button(class="btn btn-danger" ng-click="toggleEmailReply()") Cancel
    div(class="row header")
      .col-sm-6 {{ selectedMail.subject }}
      .col-sm-6 {{ selectedMail.sent_at | date: 'MM/dd/yyyy' }}
    div(class="row actions")
    .col-sm-8 {{selectedMail.from}} to {{ selectedMail.to }}
    a(ng-click="toggleEmailReply()" class="btn btn-primary") Reply
    .col-sm-12(ng-bind="selectedMail.body")
      {{ selectedMail.body }}