.container.col-md-6.col-md-offset-3(ng-controller="wFSignUpToGroupCtrl")
  h3 Become a member of {{groupName}}
  .well
    form.form-horizontal(name="groupSignUpForm")
      fieldset
        legend Sign in...
        .form-group
          label.col-md-2.control-label(for="email") Email
          .col-md-8
            input.form-control(placeholder="email", ng-model="username")
        .form-group
          label.col-md-2.control-label(for="password") Password
          .col-md-8
            input.form-control(type="password", placeholder="password", ng-model="password")
        .form-group
          .col-md-8.col-md-offset-2
            .pull-right
              button.btn.btn-primary(ng-click="groupSignIn(username, password)", ng-disabled="signupForm.$invalid") Submit
              | &nbsp;
              a.btn.btn-default(href="/") Cancel


  .well
    form.form-horizontal(name="groupSignUpForm")
      fieldset
        legend ...or sign up!
        .form-group
          label.col-md-2.control-label(for="email") Email
          .col-md-8
            input.form-control(name="email", type="email", placeholder="email", ng-model="m_username", required)
        .form-group
          label.col-md-2.control-label(for="password") Password
          .col-md-8
            input.form-control(name="password", type="password", placeholder="password", ng-model="m_password", required)
        .form-group
          label.col-md-2.control-label(for="fname") First Name
          .col-md-8
            input.form-control(name="fname", type="text", placeholder="first name", ng-model="m_fname", required)
        .form-group
          label.col-md-2.control-label(for="lname") Last Name
          .col-md-8
            input.form-control(name="lname", type="text", placeholder="last name", ng-model="m_lname", required)

        .form-group
          .col-md-8.col-md-offset-2
            .pull-right
              button.btn.btn-primary(ng-click="groupSignUp()", ng-disabled="groupSignupForm.$invalid") Submit
              | &nbsp;
              a.btn.btn-default(href="/") Cancel
      