.navbar-right(ng-controller="wFNavBarLoginCtrl")


	ul.nav.navbar-nav.navbar-right(ng-hide="identity.isAuthenticated()") 
		li
			a.navbar-nav-link(href="/login") Login
		li
			a.navbar-nav-link(href="/signup") Sign Up
	ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()") 
		li.dropdown
			a.dropdown-toggle(href="", data-toggle="dropdown")
				| {{identity.currentUser.firstname + " " + identity.currentUser.lastname}}
				b.caret
			ul.dropdown-menu
				li(ng-show="identity.currentUser.isAdmin()")
					a(href="/admin/users") User Admin
				li
					a(href="/dashboard") Dashboard
				li
					a(href="/profile") Profile
				li
					a(href="" ng-click="signout()") Sign Out


