.container(ng-controller="wFProfileCtrl")
  .well
    form.form-horizontal(name="profileForm")
      fieldset
        legend User Profile
        .form-group
          label.col-md-2.control-label(for="email") Email
          .col-md-8
            input.form-control(name="email", type="email", placeholder="Email", ng-model="email", required)
        .form-group
          label.col-md-2.control-label(for="fname") First Name
          .col-md-8
            input.form-control(name="fname", type="text", placeholder="First Name", ng-model="fname", required)
        .form-group
          label.col-md-2.control-label(for="lname") Last Name
          .col-md-8
            input.form-control(name="lname", type="text", placeholder="Last Name", ng-model="lname", required)
        .form-group
          label.col-md-2.control-label(for="role") Will you be:
          .col-md-8
            select(class="form-control" ng-model="roles.type", ng-options="role.value as role.name for role in selectRole")
        .form-group
          label.col-md-2.control-label(for="password") Password
          .col-md-8
            input.form-control(name="password", type="password", placeholder="Password", ng-model="password")
        //- .form-group
        //-   label.col-md-2.control-label(for="usericon") Upload your user icon:
        //-   .col-md-8
        //-     input.form-control(class="input-xlarge" name="usericon", type="url", placeholder="Upload icon", ng-model="usericon", required)
        //- img(ng-src="{{usericon}}" src="")

        .form-group
          .col-md-8.col-md-offset-2
            .pull-right
              button.btn.btn-primary(ng-click="update()", ng-disabled="signupForm.$invalid") Submit
              | &nbsp;
              a.btn.btn-default(href="/") Cancel
      