doctype
html
	head
		title Sensors Everywhere
		//- link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
		link(rel='stylesheet', href='/css/bootstrap.css')
		link(rel='stylesheet', href='/vendor/toastr/toastr.css')
		link(rel='stylesheet', href='/css/site.css')
		link(rel='stylesheet', href='/css/navbar.css')
		link(rel='stylesheet', href='/css/map.css')
		link(rel='stylesheet', href='/css/animal-select.css')
		link(rel='stylesheet', href='/css/splash.css')
		link(rel='stylesheet', href='/css/project.css')
		link(rel='stylesheet', href='/css/dashboard.css')
		link(rel='stylesheet', href='/css/popups.css')
		link(rel='stylesheet' href='/css/guides.css')
		link(rel='stylesheet', href='/css/sliding-panel.css')
		link(rel='stylesheet' href='/vendor/leaflet-0.7.1/leaflet.css')
		link(rel='stylesheet' href='/vendor/leaflet-0.7.1/css/dist/leaflet.draw.css')
		link(rel='stylesheet' href='/vendor/leaflet-0.7.1/css/l.geosearch.css')
		link(rel='stylesheet' href='/vendor/angular-xeditable/css/xeditable.css')
		link(rel='stylesheet' href='/vendor/bg-splitter/css/style.css')


	body(ng-app='app')
		include currentUser
		block main-content
		include scripts