div(class="about-container" ng-controller="wFAboutCtrl") 
	h3 What's this all about?
	div 
		span The impetus behind this site is quite long winded having started when I was living in Glebe, Sydney in 1999. At that point I was working in Film as a Scenic Painter and
		span had no experience with the web whatsoever. In Glebe at that time there were a few issues arising around local youth living in the housing commssion estate down the 
		span the other end of the street. The youths were mainly Aboriginal and early to mid teens and the problems, as with any young person were complex. My solution was to create
		span a planting in Jubilee Park representative of the original inhabitants of the land to give the youths a sense of pride and connection. I thought that it would be great
		span if this project could be sponsored by a large company - and instead of going ahead and doing that, I instead went about building this site to facilitate that and 
		span (hopefully) many other like projects. 

	div
		span As it turns out, this site is tailored more for environmental that social concerns, and is quite ambitious in scope. I hope you can find a use for it and enjoy using it
		span as much as I've enjoyed making it.


	h3 So why would I use it?
	span Both individuals and groups can use this application to create and promote projects relating to wildlife conservation, monitoring and protection, or land management in general.
	span If you are a group that has a need to share information about a specific area with each other and the greater community then this is the app for you. 
	span If you are trying to protect a parcel of land and require funding, then this is the app for you. 
	span If you are an ecologist and are wanting to monitor a particular species, and / or want to share that information with school groups, then this is the app for you.
	p  
		span This app is about transparency within the context of the environment and land management. Currently much of the efforts of individuals, governments and organisations are
		span  fragmented. This app provides cohesion by providing a layer of abstration at a higher level and lets the left hand see what the right hand is doing ( so to speak ), in one 
		span easy to use interface. It is currently in alpha and more features need to be added for it to reach its full potential, but fundamentally the principles are there. 