div(class="about-container popup-container" ng-controller="wFAboutCtrl") 
	h3 What is Sensors Everywhere about?
	div 
		span The idea for this web application took seed in Glebe, Sydney in 1999 in an effort to curb some local social issues, and kept growing into what you see today. 
		span The main driver for SE is to reduce loss of species by minimizing the impact humans have on the land. 
