div.commentPopup
	div.closePopUp(ng-click="commentPopup('hide')") X 
	div(class="commentTextarea")
		label.col-md-4.control-label(for="comments") Enter your Comments:
			textarea(cols="80" rows="10" ng-model="wildlifeComments")
	div
		span(class="popupCancel") Clear
		span(class="popupSave" ng-click="saveWildlifeComments(wildlifeComments); commentPopup('hide')") Save