div(class="main-container" ng-controller="wFMainCtrl")
	div
		//- .col-md-1
		.col-md-4.front-page-bottom-left-col
			.row(class="row-map-container")
				.col-md-12(class="col-8-map-container")
					h4 Build a biolink
					div(ng-controller="wFMapCtrl" id="map" class="map-frontpage")
						leaflet

		.col-md-4.front-page-bottom-middle-col
			img(src="../../../img/page_images/koala.jpeg" width="70%" height="60%" class="")
			h4 Monitor Wildlife
			div COMING SOON!

		.col-md-4.front-page-bottom-right-col
			img(src="../../../img/page_images/corridor.jpeg" width="70%" height="60%" class="")
			h4 Create Corridors
			div Map out your parcel of land and create a crowdfunding project.
