div(class="main-container" ng-controller="wFMainCtrl")
	//- splash(ng-hide="splash")
	div.front-page-top-row
		.col-md-3.front-page-top-left-col
			h3 1000ft View
		.col-md-7.front-page-map
			.row(class="row-map-container")
				.col-md-12(class="col-8-map-container")
					div(ng-controller="wFMapCtrl" id="map" class="map-frontpage")
						leaflet
					span here is some filler text
		.col-md-2.front-page-top-right-col
			.row
				h4 Stuff
			.row
				h4 More Stuff
			.row 
				h4 Even More Stuff

	div.front-page-bottom-row
		.col-md-4.front-page-bottom-left-col
			h3 Use Case Scenario 1
		.col-md-4.front-page-bottom-middle-col
			h3 Use Case Scenario 2
		.col-md-4.front-page-bottom-right-col
			h3 Use Case Scenario 3
