div(class="main-container" ng-controller="wFMainCtrl")
	splash(ng-hide="splash")
	div.front-page-top-row
		.col-md-3.front-page-top-left-col
			h3 OVERVIEW
			div 
				span Sensors Everywhere has been developed to empower communities by creating a closer connection to the land they love, and 
				span has been designed with generalisation in mind, leaving the specifics to those who know their area best, those with local knowledge.
				p
				span Sensors Everywhere places emphasis on three major areas in the safeguarding of our environment: monitoring, safeguarding and community.
			div
				h5 
					strong Monitoring
				span Through the Sensors Everywhere interface, monitors can be attached and attributed to areas to capture data such as temperature, moisture, video and much more.
			div 
				h5 
					strong Safeguarding
				span Sensors Everywhere provides your group to collboratively raise funds via crowdfunding to purchase lands. Or you can use this application to place a covenant on a parcel of land or form a trust around it.
			div
				h5 
					Strong Community
				span Sensors Everywhere has a mountain of tools to keep you in touch with members of your group.

			div If you would like to find out how to use this application and what it could do for you click 
				a(href="/how-to-use") here

		.col-md-7.front-page-map
			.row(class="row-map-container")
				.col-md-12(class="col-8-map-container")
					div(ng-controller="wFMapCtrl" id="map" class="map-frontpage")
						leaflet
					span here is some filler text
		.col-md-2.front-page-top-right-col
			.row
				h4 Stuff
			.row
				h4 More Stuff
			.row 
				h4 Even More Stuff

	div.front-page-bottom-row
		.col-md-1
		.col-md-3.front-page-bottom-left-col
			img(src="../../../img/page_images/soil-compaction.jpg" width="320px" height="213px" class="")
			h4 Precision Agriculture
			div Monitor the moisture and nutritional content of your farms soil. Track your animals or get alerts notifying you of open gates.

		.col-md-3.front-page-bottom-middle-col
			img(src="../../../img/page_images/koala.jpeg" width="320px" height="213px" class="")
			h4 Monitor Wildlife
			div Use our incredible monitoring equipment to track there little beggars!

		.col-md-3.front-page-bottom-right-col
			img(src="../../../img/page_images/corridor.jpeg" width="320px" height="213px" class="")
			h4 Create Corridors
			div Map out your parcel of land and create a crowdfunding project.
