div(class="main-container" ng-controller="wFMainCtrl")
	div(class="info-row")
		div(class="home-hero")
			img(src="../../img/assets/img/home.jpg" id="bg")
	//- div(class="info-row")
	//- 	div(class="info-box")
	//- 		h2 About
	//- 	div(class="info-box")
	//- 		h2 Rehab
	//- 	div(class="info-box")
	//- 		h2 Monitor
	//- div(class="info-row")
	//- 	span Our partners
	//- 	div(class="partner-panel")
	//- 		span Melbourne Water
	//- 	div(class="partner-panel")
	//- 		span Landcare
	//- 	div(class="partner-panel")
	//- 		span Hanging Rock
	//- 	div(class="partner-panel")
	//- 		span Gisbourne Golf Club
		div(class="home-text") say no more.
		a(href="/login")
			button(class="home-btn btn btn-custom") Login


		//- .col-md-1
