div(class="main-container" ng-controller="wFMainCtrl")
	div(class="home-hero")
			img(src="../../img/assets/img/home.png" id="bg")
//-		div(class="home-text") Building a biolink is as easy as 1, 2, 3...
//-		a(href="/login")
//-			button(class="home-btn btn btn-custom") Login


		//- .col-md-1
