div(class="how-to-container" ng-controller="wFHowToCtrl") 
	h3 How to use this site.
	div 
		p 
			small
				b #NB: This application is still very much under development and therefore is very buggy. It is not ready for use in production at this point.

	div To try this software, log in above with the credentials:
		p
			p
				b &ensp; &ensp; Username: demo
			p
				b &ensp; &ensp; Password: demo

	div After which you will be greeted with the dashboard. In the top right hand corner, you can see your login details. Clicking on the small arrow next 
		span to the username, you will see a flyout menu which contains a few navigation options. 
		ul
			li User Admin - lists all user of the system. At this point this only lists users, there is no update or delete functionality.
			li Dashboard - will return you to the screen you are currently at, the dashboard.
			li Profile - allows the user to edit their own details, which at this point is limited to first and lastname, email and password.
			li Sign Out - there is the sign out link, to log out of the system.
		p
			img(class="how-to" src="../../../img/how_to/login_creds.png" width="344px" height="287px")
		, wherein you can create projects, groups, assign tasks to projects, users to groups and groups to projects. 
		br
		span Let's see how you can go about doing that.
		br
		span The first thing you'll want to do is to create a project. To do this click the big 'create project' button at the bottom of the left hand pane. 
		p
			img(class="how-to" src="../../../img/how_to/create_project.png" width="600px" height="400px")
		span You will arrive at the 'Create Project' page.  
		p 
			img(class="how-to" src="../../../img/how_to/create_project_interface.png" width="600px" height="400px")
		span This interface allows you to do a number of things. First off let's select the wildlife we anticpate are within the project boundaries.
		p
			img(class="how-to" src="../../../img/how_to/selecting_wildlife.png" width="709px" height="469px")
		span By typing into the auto complete you will see a dropdown of matches. This database is incomplete, so not all wildlife will is available. 
		span To select the wildlife, simply click and press ENTER, or when highlighted press ENTER twice. 
		p
			img(class="how-to" src="../../../img/how_to/wildlife_selected.png" width="442px" height="267px")
		span The numbers of wildlife can be adjusted by using the numeric scroller to the left of the selection box.
		p
			img(class="how-to" src="../../../img/how_to/change_number_of_wildlife.png" width="185px" height="86px")
		span By clicking on the wildlife image, a popup appears with details of the wildlife. There is also a comments section (not currently working),
		span  which allows members of this project to add comments about the wildlife. You can close this popup by clicking the 'X' in the top right hand corner.
		p
			img(class="how-to" src="../../../img/how_to/edit_wildlife_details.png" width="800px" height="405px")
		span To add multiple wildlife, simply repeat the wildlife selection process above. 	

		img(class="how-to" src="../../../img/how_to/multiple_selected_wildlife.png" width="489px" height="427px")
		p
			h3 Mapping out an area
		span Next on the list is to designate the area containing the wildlife. 
		span By doing this we can track wildlife by location allowing everyone to see which wildlife is being monitored, by whom and by location.
		p
		span Enter the location in the map search field and press ENTER
		p
			img(class="how-to" src="../../../img/how_to/type_location.png" width="559px" height="233px")
		span To map out the area, click on the polygon tool and click on each point. To complete click on the first point. 
		p
			img(class="how-to" src="../../../img/how_to/select_area.png" width="800px" height="600px")
		span When the shape is closed, click on it to add a monitor. This function is currently under development, see attached files for what is currently being done.
		p
			img(class="how-to" src="../../../img/how_to/add_monitor.png" width="450px" height="350px")
		span Press continue, and here you can name the monitor, add the type, assign it to wildlife and give it an active attribute.
		p
			img(class="how-to" src="../../../img/how_to/monitor_details.png" width="245px" height="267px")
		span Once save, a small panel appears under the page header, you need to click on it to expand. The type of monitor is depicted by an icon, as shown below.
		p
			img(class="how-to" src="../../../img/how_to/monitor_collapsed.png" width="420px" height="183px")
		p
			img(class="how-to" src="../../../img/how_to/monitor_icon.png" width="219px" height="134px")
		p
			img(class="how-to" src="../../../img/how_to/monitor_local.png" width="309px" height="479px")
		span At the moment, I only have the camera streaming over the local network, however the end goal is not far away. To see what is intended please click here.
		span Now that the wildlife, map and monitors have been added it's time to save the project. To do this click on the big save button down the bottom.
		p
			img(class="how-to" src="../../../img/how_to/save_project.png" width="750px" height="154px")
		span And now you can enter the final details about the project.
		p
			img(class="how-to" src="../../../img/how_to/project_popup.png" width="675px" height="370px")
		span On saving we will are taken back to the dashboard. By clicking on the project name in the left hand pane we can choose to view the project we have just
		span created, edit it, or add tasks to it. In the right hand pane we can create groups to assign to the project. A group can contain just one person, the project owner. 
		span The project owner is the person who created the project.
		p
			img(class="how-to" src="../../../img/how_to/create_group.png" width="458px" height="283px")
		span Once the group has been created we can now also add members to that group, and assign project tasks to members.
		p
			img(class="how-to" src="../../../img/how_to/add_users_and_tasks.png" width="918px" height="242px")
		span A view of the edit project screen
		p
			img(class="how-to" src="../../../img/how_to/edit_project.png" width="909px" height="404px")
