.container
	.row
		.col-md-9
			div(ng-include="'/partials/main/map'")
		.col-md-3
			div(ng-include="'/partials/main/selection'")
	.row
		.col-md-12
			div(ng-include="'/partials/main/friends'")

		
