div.popup-container
	div.closePopUp(ng-click="closePopup()") X
	div.what-we-have
		h3 Hey, we're nearly there. 
		p So far we've got: 
		p You: {{identity.currentUser.firstname}} {{identity.currentUser.lastname}}
		p The nearest town to the center of the corridor is: {{nearestTownName}}
		p and is {{nearestTownDistance}} kms away.
		p The area you have mapped is {{area}} acres.
		p The wildlife within the corridor: 
			div(ng-repeat="wildlife in wildlifeData")
				{{wildlife.numbers}} of {{wildlife.name}}
		p And the types of monitors you're using:
			div(ng-repeat="monitor in monitorData")
				span You have called this monitor:
					strong {{monitor.name}}
				br
				span It is monitoring: 
					strong {{monitor.specificWildlife}} 
					span with: 
					strong {{monitor.type}}
				br
				span Is this monitor active: 
					strong {{monitor.active}}
				br
			
	div.further-info
		p But before we can begin we need to ask just a few more questions like:
		p What is name of the project? <br>
			input(class="form-control" type="text" ng-model="projectName")
		p How would you describe the project? <br>
			textarea(class="form-control" cols="30" rows="10" ng-model="projectDescription")
		p The project start and end dates: <br>
			input(class="form-control project-popup-date-input" type="date" ng-model="start_date") 
			input(class="form-control project-popup-date-input" type="date" ng-model="end_date")
		br
		br
		p Is this a private, public or government project 
			select(class="form-control" ng-model="orgs.type", ng-options="org.value as org.name for org in selectOrg")
		p What is the required funding target? <br>
			input(class="form-control" type="number" min="0" value="0" ng-model="fundingRequired")
		div Choose an image for your project
			input(type="hidden" ng-model="fileUpload")
			input(class="button btn-default" type="file" ng-file-select="onFileSelect($files, 'project')") 
			
	span {{project_image}}
	div
		b(class="popupCancel" ng-click="cancelProject()") Clear
		b(class="popupSave" ng-click="saveProject(projectName, projectDescription, start_date, end_date, orgs.type, fundingRequired, project_image); projectPopup('hide');") Save