div(class="splashback" ng-controller="wFEmailContentCtrl" ng-show="showSplash")
	div(class="splash")
		
	div(class="splash-content")
		center
			h1 
				strong Hey There!
		p
		div Sensors Everywhere is in demo mode only. This site has been designed as a tool to assist those who wish to help protect and preserve the environment by facilitating the creation of projects around areas of land which could be used for wildlife corridors. There are many features of this application including the ability to monitor wildlife, create public and community land trusts and provide group support, however as this is a preview there is a lot of work still to be done. Please feel free to browse the site and use it as if it were working. If you have any questions or would like to provide some feedback I would love to hear from you at wade_mansell@hotmail.com
			form.form-horizontal(id="enquiryForm" ng-submit="sendEmailEnquiry()")
					fieldset
						legend
					.form-group
						label.col-md-2.control-label(for="name") Name
						.col-md-8
							input(class="form-control" ng-model="enquiry.name" type="text" placeholder="Name..." required)
					.form-group
						label.col-md-2.control-label(for="Email") Email
						.col-md-8
							input(class="form-control" ng-model="enquiry.email" type="email" placeholder="Email..." required)
					.form-group
						.col-md-4.pull-right
							button(class="btn btn-success" ng-click="sendEnquiry(enquiry.name, enquiry.email);") Send 
