div(class="splashback" ng-controller="wFEmailContentCtrl" ng-show="showSplash")
	div(class="splash")
		
	div(class="splash-content")
		center
			h1 
				strong Hey There!
		p
		div Thanks for visiting SensorsEverywhere. We're currently in alpha and would to love to show you what we're up to, so if you fill in the form to log in and check it out!
		.col-md-8.email-enquiry-form
			form.form-horizontal(id="enquiryForm" ng-submit="sendEmailEnquiry()")
				.row

					fieldset
						legend
					.form-group
						label.col-md-2.control-label(for="name") Name
						.col-md-8
							input(class="form-control" ng-model="enquiry.name" type="text" placeholder="Name..." required)
					.form-group
						label.col-md-2.control-label(for="Email") Email
						.col-md-8
							input(class="form-control" ng-model="enquiry.email" type="email" placeholder="Email..." required)
					.form-group
						.col-md-4.pull-right
							button(class="btn btn-success" ng-click="sendEnquiry(enquiry.name, enquiry.email);") Send 
