div(class="splashback")
	div(class="splash")
		h1 here I am again on my own...
	div
		//- b(class="popupCancel" ng-click="cancelProject()") Clear
		//- b(class="popupSave" ng-click="saveProject(projectName, projectDescription, start_date, end_date, orgs.type, fundingRequired); projectPopup('hide');") Save