div.wildlifePopup(ng-style="newDims")
	div.closePopUp(ng-click="wildlifePopup('hide')") X 
	p
		h4 {{wildlifeDetails.name}}
	p
		img(ng-src="{{wildlifeDetails.image_full}}" class="textwrap")
		br
		div(class="wildlife-description") Some sample description text for each wildlife item 
	br
	br
	p(class="monitor-info")
		input(class="monitor-check" type="checkbox" value="1" ng-model="hasMonitor")
		span Is this wildlife monitored?
		div(class="popup-row" ng-if="hasMonitor")
			span(class="monitor-label") Audio <br>
			input(class="monitor-counter" type="number" ng-model="audioMonitors" value="0")
			span(class="monitor-label video-label") Video <br>
			input(class="monitor-counter" type="number" ng-model="videoMonitors" value="0")

	div(class="label-comments") Comments
		div(class="saved-wildlife-comments") {{wildlifeComments}}
	div
		div(class="popupComments" ng-click="commentPopup('show')") Add Comment
		div(class="popupSave" ng-click="wildlifePopup('hide')") Save