div.wildlife-popup(ng-style="newDims")
	div.closePopUp(ng-click="wildlifePopup('hide')") X 
	h4 {{wildlifeDetails.name}}
	div
		img(ng-src="{{wildlifeDetails.image_full}}" class="textwrap")
		div(class="wildlife-description") Some sample description text for each wildlife item 
	
	div
		div(class="label-comments") Comments
		div(class="saved-wildlife-comments") {{wildlifeComments}}
	div
		div(class="popupComments" ng-click="commentPopup('show')") Add Comment
		div(class="popupSave" ng-click="wildlifePopup('hide'); saveMonitors(audioMonitors, videoMonitors);") Save